.header {
  background: linear-gradient(
    90deg,
    #ee82ee 0%,
    #7d00d4 34%,
    #9400ff 71%,
    #ee82ee 100%
  );
  padding: 10px 20px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 26px;
  color: white;
  font-weight: bold;
}

.nav-links ul {
  display: flex;
  gap: 20px;
}

/* Mobile menu toggle button */
.hamburger {
  display: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: black;
  margin: 4px;
}

/* @media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #7d00d4;
    width: 200px;
    height: 260px;
    font-size: 26px;
    z-index: 10;
  }
  .nav-links ul {
    display: block;
    gap: 20px;
  }

  .hamburger {
    display: block;
  }

  .nav-links ul li {
    text-align: center;
    margin: 20px 0;
  }
  
} */

@media (max-width: 480px) {
    .nav-links {
      flex-direction: column;
      justify-content: space-evenly;
      position: absolute;
      /* top: 70px; */
      top: -300px;
      right: 0;
      background-color: #7d00d4;
      width: 150px;
      font-size: 22px;
    }
    .nav-links ul {
      display: block;
      gap: 20px;
    }
  
    .hamburger {
      display: block;
    }
  
    .nav-links ul li {
      text-align: center;
      margin: 20px 0;
    }

    .hamburger.active {
      
    }
    
  }
